<mat-card class="movie-item" *ngFor="let movie of movies">
    <mat-card-header>
      <mat-card-title>
        {{movie.title}} <span class="movie-year">({{movie.year}})</span>
      </mat-card-title>
      <mat-card-subtitle>
        {{movie.genre}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" class="details">
        <div fxFlex="30">
          <img [src]="movie.poster">
        </div>
        <div fxFlex="70">
          {{movie.plot}}
        </div>
      </div>
    </mat-card-content>
    <div>
      <div *ngIf="!movie.commentSaved">
        <mat-form-field class="comments">
          <textarea
            [(ngModel)]="movie.comment"
            placeholder="Comment"
            matInput
            matTextareaAutosize
            matAutosizeMinRows="1"
            matAutosizeMaxRows="4"
            #comment
          ></textarea>
        </mat-form-field>
        <div [ngStyle]="{color: movie.comment.trim().length === 0 ? 'firebrick' : 'lightseagreen'}">
          {{wordCount(comment.value)}} words
        </div>
      </div>
      <div *ngIf="movie.commentSaved">
        <p>
          Comment:
        </p>
        <p class="comment">
          {{movie.comment}}
        </p>
      </div>
      <mat-card-actions>
        <button
          mat-raised-button
          [disabled]="movie.comment.trim().length === 0"
          (click)="saveComment(movie.id)"
        >
          {{movie.commentSaved ? 'Edit' : 'Save'}} comment
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
